PORT=4000
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=vitalsalud
JWT_SECRET=
JWT_EXPIRES_IN=8h
PRERESERVA_TIMEOUT_MIN=20
FRONTEND_BASE_URL=http://localhost:5173
RESERVA_MONTO=80
MP_ACCESS_TOKEN=
MP_PUBLIC_KEY=
MP_CURRENCY_ID=PEN
MP_USE_SANDBOX=false
